################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net5.0
/.vs/Moodify/config
/.vs/Moodify/DesignTimeBuild
/.vs/moodify2/config
/.vs
/.vs/moodify2/v16/.suo
/.vs
/bin/Debug/net5.0
