################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/moodify2/v16/.suo
/.vs
/bin/Debug/net5.0
