@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p class="lead">Vul titel en (optioneel) artiest in en zoek jouw nummer!</p>

    @* Render the search form *@
    <form method="post" action="/Home/index">
        <input type="text" name="songTitle" placeholder="Titel" />
        <input type="text" name="artistName" placeholder="Artiest" />
        <button type="submit">Zoek</button>
    </form>

</div>
