
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="get" action="/Home/Search">
    <input type="text" name="SongTitle" placeholder="Enter song title" />
    <input type="text" name="ArtistName" placeholder="Enter artist name" />
    <button type="submit">Search</button>
</form>
