@* Render the search form *@
<form method="post" action="/Home/SearchForm">
    <input type="text" name="songTitle" placeholder="Enter song title" />
    <input type="text" name="artistName" placeholder="Enter artist name" />
    <button type="submit">Search</button>
</form>
