@model List<Track>

<h2>Search Results</h2>
@if (Model.Count > 0)
{
    <ul>
        @foreach (var song in Model)
        {
            <li>
                <strong>@song.TrackName</strong><br>
                Artist: @song.ArtistName<br>
                Album: @song.AlbumName<br>
                Genre: @song.PrimaryGenres?.MusicGenre?.MusicGenreName
            </li>
        }
    </ul>
}
else
{
    <p>No results found.</p>
}
