@model List<Moodify.Models.Log>

<!DOCTYPE html>
<html>
<head>
    <title>Logs</title>
</head>
<body>
    <h1>Logs</h1>
        @foreach (Moodify.Models.Log log in Model)
        {
            <p>@log.username searched for @log.songname at @log.created_at.ToString("yyyy-MM-dd HH:mm:ss")</p>
        }
</body>
</html>
